html, body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif, Arial;
}
.controls{
    height: 32vh;

}
.controls-table{
    width: 100%;
    table-layout: fixed;
}
.controls-table td:first-child{
    width: 25vw;
}
.controls-table td:last-child{
    width: 25vw;
}
.counter{
    text-align: center;
    line-height: 32vh;
    font-size: 32vh;
    color: #15659d;
    font-weight: 600;
}

.counter .digit {
    width: 20vh;
    display: inline-block!important;
    float: none!important;
}
.hint{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #666666;
}
.history{
    height: 4vh;
    font-size: 12px;
    background: #f1f1f1;
    box-shadow: 0 1px 0 0 #ddd inset;
    color: #666;
    padding: 0.5vh 10px;
    font-weight: 600;
}
.slots-table{
    width: 100%;
}
.slots{
    height: 63vh;
}
.slot{
    width: 10%;
    height: 7vh;
    line-height: 7vh;
    font-size: 4.5vh;

    background: #bcdef6;
    color: #fff;
    box-shadow: -1px -1px 0 0 #fff inset;
    display: inline-block;
    text-align: center;

    transition: all 1s;
}
.slot.active{
    background: #1b82ca;
}


/* Button */
.btn {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background: #ccc;
    font-weight: bold;
}
.btn:hover {
    background-color: #78737d;
    text-decoration: none;
    color: #fff;
}

.btn.disabled,
.btn:disabled {
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default;
    pointer-events: none;
}

.btn.disabled:hover {
    background-color: #DFDFDF !important;
    color: #9F9F9F !important;
}

.btn-go{
    width: 100%;
    display: block;
    height: 32vh;
    margin: 0;
    vertical-align: top;
    font-size: 16vh;
    overflow: hidden;
    background: #1b82ca;
    color: #fff;
    cursor: pointer;
}
.btn-go:hover {
    background-color: #15659d;
    text-decoration: none;
}

.btn-danger{
    color: #fff;
    background-color: #d9534f;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.clear{

}

.calculator{
    padding: 0 20px;
}
.calculator .form-input{
    margin-bottom: 10px;
}
.calculator label{
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 3px;
}
.calculator input{
    display: inline-block;
    width: 80%;
    padding: 4px 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
    border: 1px solid #999;

}
.calculator input[readonly]{
    background: #eee;
    -webkit-appearance: none;
}
.calculator .btn{
    display: block;
    width: 80%;
}

@media only screen and (max-width: 1024px) {
    .controls{
        height: 100vh;

    }
    .controls-table td{
        display: block;
        width: 100%!important;
    }
    .controls-table td:nth-child(1){
        height: 10vh;
    }
    .controls-table td:nth-child(2){
        height: 80vh;
    }
    .controls-table td:nth-child(3){
        height: 10vh;
    }
    .btn-go{
        width: 100%;
        height: 10vh;
        display: block;
        font-size: 8vh;
        font-weight: bold;
        line-height: 10vh;
    }

    .history{
        height: auto;
        padding: 10px;
        font-size: 14px;
        line-height: 18px;
    }
    .slots-table td{
        display: block;
        width: 100%!important;
    }
    .slot{
        font-size: 16px;
    }
    .counter{
        height: 80vh;
        line-height: 80vh;
        font-size: 40vh;
    }
    .clear{
        margin-top: 2vh;
    }
    .calculator{
        padding: 20px;
    }
}